body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container1 {
    padding: 9px;
    background-color: white;
    float: left;
    width: 90%;
  }
  

  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: rgb(212, 71, 71);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    float: right;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  

  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }